theme: jekyll-theme-slate
port: 7777
host: http://localhost
facebookClientID: xxxxxxxxxxxxxxxx
facebookClientSecret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
session_key: xxx
db_name: xxxxxxx
bcrypt_cost: 5
jwt_secret: xxxxxxxxxxx
redis_dsn: ip:port
